<!-- <div class="user" *ngIf="isLoggedIn">
  <div class="nav">
    <ul class="nav__list">
      <li class="nav__menu"><i class="fas fa-user-circle fa-2x"></i>
        <ul class="nav__menu-lists nav__menu--2-lists">
          <li class="nav__menu-items">Settings</li>
          <li class="nav__menu-items" (click)="logout()">Logout</li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->

<div class="addroom mt-5">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="form-header">
        <form>
          <!-- <div class="form-group ">
            <input type="text" class="form-control col-xs-4 mt-3" id="inputSettings" #newroomname
              placeholder="Enter the room name...">
          </div> -->

          <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;" #newroomname>
            <span class="label">Enter the room name</span>
            <span class="focus-bg"></span>
          </label>

          <!-- <button  onclick="location.href='http://localhost:4200/tools'" type="submit" (click)="addRoom(newroomname.value)" class="newbtn" >Add
                        Room</button>   -->
          <div class="container ml-5 mt-4">
            <a class="btn" onclick="location.href='http://localhost:4200/home'" (click)="addRoom(newroomname.value)">Add
              Room</a>
            <br>
            <a class="btn" onclick="location.href='http://localhost:4200/home'"
              style="right: 17px; margin: 30px 0;">Back
              to
              home!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
