<div class="container">
    <div class="tools">
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
    <div class="tool">
        <div class="img">
            <img src="assets/images/tool.png" alt="tool">
        </div>
        <div class="name">
            <h4>ToolName</h4>
        </div>
        <div class="name">
           <Label>Statu : </Label>
        </div>
        <div class="statu">
            <button class="btn btn-info">On</button>
            <button class="btn btn-dark">Off</button>
        </div>
        <div class="control">
            <button class="btn btn-primary">Rename</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="rename">

        </div>
    </div>
</div>
</div>