<div class="container-fluid">
  <div class="header">
    <div class="logo">
      <!-- <img src="assets/images/logo.png" alt=""> -->
      <i class="fa fa-laptop-house fa-3x" routerLink="#" routerLinkActive="active"></i>
    </div>
    <div class="log">
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item"><a routerLink="register" class="nav-link">Signup</a>
          <!-- /.nav-link -->
        </li><!-- /.nav-item -->
        <li class="nav-item"><a routerLink="login" class="nav-link">Login</a></li><!-- /.nav-item -->
      </ul><!-- /.navbar-nav -->
    </div><!-- /.log -->
    <!-- <div class="user" *ngIf="isLoggedIn">
      <div class="nav">
        <ul class="nav__list">
          <li class="nav__menu"><i class="fas fa-user-circle fa-2x"></i>
            <ul class="nav__menu-lists nav__menu--2-lists">
              <li class="nav__menu-items">Settings</li>
              <li class="nav__menu-items" (click)="logout()">Logout</li>
            </ul>
          </li>
        </ul>
      </div>
    </div> -->
  </div><!-- /.header -->

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-center text-md-center mt-3">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Copyright © Kaan Er</a></li>
            <h6 style="color: #FFFFFF;">2020</h6>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mt-2">
          <ul class="list-unstyled list-inline social text-center">
            <li class="btn-square wobble-horizontal"><a href="https://twitter.com/kaaner_dev"><i
                  class="fab fa-twitter fa-2x"></i></a></li>
            <li class="btn-square wobble-horizontal"><a href="https://www.instagram.com/championes_/"><i
                  class="fab fa-instagram fa-2x"></i></a></li>
            <li class="btn-square wobble-horizontal"><a href="https://github.com/Kaan-Er"><i
                  class="fab fa-github fa-2x"></i></a>
            </li>
            <li class="btn-square wobble-horizontal"><a href="https://www.linkedin.com/in/kaan--er/" target="_blank"><i
                  class="fab fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </div><!-- /.footer -->
</div><!-- /.container-fluid -->
